@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    * {
      scroll-behavior: smooth;
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rounded-100 { 
  border-radius: 50%; 
  width: 100%; 
  height:100%; 
  object-fit:cover;
}
.image-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}
.image-container-large {
  height: 300px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.homepage-button {
  background-color: carmine;
  color: khaki-cream;
  padding: 4;
  margin: 4;
  cursor: pointer;

}

  .custom-list-image {
    list-style-image: url('/public/hello.JPG');
  }
